body {
    font-family: sans-serif; /* Choose a preferred font */
    margin: 20px;
    background: #181a1b;
    color: #e8e6e3;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically align elements */
    justify-content: space-between;
}

#label-size {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left:30px;
    font-size: 16px;
}

#print-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 40px;
}

#print-button:hover {
    background-color: #3e8e41;
}

main {
    display: flex;
    flex-wrap: nowrap;
    min-height: 720px;
}

main > div {
    flex: 50%;
    margin: 20px;
    padding: 10px;
}

#text-label-container {
    display: grid;
    grid-template-columns: auto auto;
}

#text-label-container > * {
    margin: 10px;
}

#text-box-container {
    display: grid;
    grid-template-rows: auto auto;
}

#text-box-toolbar {
    display: flex;
    justify-content: space-between;
}

#text-box-toolbar > * {
    margin-bottom: 10px;
    margin-right: 20px;
}

#text-box-buttons {
    display: flex;
    justify-content: space-between;
}

#text-box-buttons > * {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 2px;
}

#text-box-toolbar > *:last-child {
    margin-right: auto;
}

textarea {
    width: 100%;
    min-height: 80px;
    padding: 10px;
    border: none; /* Remove border within the container */
    font-size: 16px;
}

#image-controls-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#image-controls-container > div {
    padding: 10px;
}

#button-container {
    display: grid;
    grid-template-columns: auto;
}

#button-container > button {
    margin-bottom: 10px;
}

#button-container > button:last-child {
    margin-bottom: 0px;
}

#canvas-container {
    min-height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#canvas {
    background-color: white;
}
